<%= form_for @taxon_name_relationship do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :taxon_name %><br />
    <%= f.text_field :taxon_name %>
  </p>
  <p>
    <%= f.label :name_relationship %><br />
    <%= f.text_field :name_relationship %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
