<% title "Taxon Name Relationships" %>

<table>
  <tr>
    <th>Taxon Name</th>
    <th>Name Relationship</th>
  </tr>
  <% for taxon_name_relationship in @taxon_name_relationships %>
    <tr>
      <td><%=h taxon_name_relationship.taxon_name %></td>
      <td><%=h taxon_name_relationship.name_relationship %></td>
      <td><%= link_to "Show", taxon_name_relationship %></td>
      <td><%= link_to "Edit", edit_taxon_name_relationship_path(taxon_name_relationship) %></td>
      <td><%= link_to "Destroy", taxon_name_relationship, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Taxon Name Relationship", new_taxon_name_relationship_path %></p>
