<div id="register_user" class="span-15">
<%= form_for @user do |f| -%>


<%= f.error_messages %>

<%= f.label :username %>:<br />
<%= f.text_field :username %><br />
<%= f.label :email %>:<br />
<%= f.text_field :email %><br />
<%= f.label :password %>:<br />
<%= f.password_field :password %><br />
<%= f.label :password_confirmation %>:<br />
<%= f.password_field :password_confirmation %><br />
<div id="update_role">
 <%= render :partial => 'users/userroles', :locals => {:f => f }  %>
 <%= link_to "Create a new role",'#', :id => "new_role_link" , :class => "role_link"  %>
</div>

<p><%= f.submit %></p>
<% end -%>
</div>

<div id="role_dialog"  title="Add new role"><%= render :partial => "shared/newrole" %></div>

<div class="span-5">

</div>
