<div id="register_user" class="span-15">
  <%# semantic_form_for @user do |f| -%>
      <%# f.inputs do %>
          <%#= f.input :username %>
          <%#= f.input :email %>
          <%#= f.input :password %>
          <%#= f.input :password_confirmation %>
          <%#= f.input :roles %>
      <%# end -%>

      <%#= f.buttons %>

      
        <%#= f.fields_for :roles do |r| %>
        <%#= r.label :role %><br />
        <%#= select(:role, options_from_collection_for_select(Role.find(:all), :id, :name), :multiple => true)  %>
        <%#= select :member,:gym_id,Gym.find(:all).collect{|p| [p.name, p.id]}%>
        <%#= r.select :user,:id, Role.find(:all).collect{|p| [p.name, p.id]}, :html => {:multiple => true} %>
        <%# end -%>
        <%#= render :partial => 'roles', :locals => {:f => f} %>
      

      <p><%#= f.submit %></p>

  <%# end -%>
<% form_for @user do |f| -%>


<%= f.error_messages %>

<%= f.label :username %>:<br />
<%= f.text_field :username %><br />
<%= f.label :email %>:<br />
<%= f.text_field :email %><br />
<%= f.label :password %>:<br />
<%= f.password_field :password %><br />
<%= f.label :password_confirmation %>:<br />
<%= f.password_field :password_confirmation %><br />
<div id="update_role">
 <%= render :partial => 'users/userroles', :locals => {:f => f }  %>
 <%= link_to "Create a new role",'#', :id => "new_role_link"  %>
</div>

<p><%= f.submit %></p>
<% end -%>
</div>
<div class="span-5">

</div>
