<% title "Users list" %>
<div class="span-16 colborder">
<table class="tableformat">
  <thead>
	<tr>
		<th>Username</th>
		<th>Email</th>
		<th>Role</th>
	</tr>
  </thead>
  <tbody>
  <% for user in @users %>
      <tr>
        <td><%=h user.username %></td>
        <td><%=h user.email %></td>
		<td><% user.roles.each do |role| %>
			<%=h role.name %>
			<% end %>
		</td>        
		<td><%= link_to "Show", user %></td>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
        <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
<div class="span-6 last">
	<br />
	<%= link_to "New User", new_user_path %>
</div>