<div id="new_tag_form"  >
  <div class="add_tag_div">
    <%# form_tag  send("create_#{controller_value}_path") ,:method => "post",:id =>"add_new_tag_form" do %>
    <% form_tag  create_tag_path(:params => {:controller => "taxon_concepts"}) ,:method => "post",:class =>"add_new_tag_form" do %>

        <%#= error_messages_for :taxon_concept %>
        <label><%= button %> value:</label>
        <%= text_field_tag :new_tag  %><br />
        <%= hidden_field_tag :tag_list, field_value , :class => "tag_list" %>
        <%= hidden_field_tag :model, model %>
        <%= submit_tag "Add #{button}", :id => 'submit_role',:html => {:float => 'left'}%>
    <% end %>
  </div>

  <div class="edit_tag_div">
    <% form_tag update_tag_path(:params => {:controller => "taxon_concepts"}) ,:method => "post",:class =>"edit_tag_form" do %>
        <%#= error_messages_for :taxon_concept %>
        <label>Status value:</label>
        <%= text_field_tag :new_tag , nil, :class => "new_tag" %><br />
        <%= hidden_field_tag :old_tag, nil, :class => "old_tag" %>
        <%= hidden_field_tag :model_field, model_field %>
        <%= hidden_field_tag :tag_list, field_value %>        
        <%= hidden_field_tag :model, model %>

        <%= submit_tag "Update #{button}", :id => "edit_#{controller_value}_submit",:html => {:float => 'left'}%>
    <% end %>
  </div>

  <div class="tag_list">
    <%= render :partial => 'shared/taglist', :locals => {:field_value => field_value, :controller_value => controller_value, :button => button, :model => model , :title => nil, :other_options => nil} %>
  </div>
</div>