<ul id="potato_menu">
  <li><a href="home">About</a></li>
  <% if current_user %>
      <li><a id="admin" href= "#Administration">Administration</a>
        <ul>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Roles", roles_path %></li>
        </ul>
      </li>
  <% end %>

  <li><a href="#Test4">Test</a>
    <ul>
      <li><a href="#Test">Test1</a></li>
      <li><a href="#Test">Test2</a></li>
      <li><a href="#Test">Test3</a></li>
    </ul>
  </li>
  <li><%= link_to "TaxonConcept",taxon_concepts_path  %>
    <ul>
      <li><%= link_to "TaxonNames", taxon_names_path %></li>
      <li><%= link_to "Common Names", common_names_path %></li>
      <li><%= link_to "Languages", languages_path %></li>
      <li><%= link_to "Ranks", ranks_path %></li>
    </ul>

  </li>
</ul>