<div id="new_status_form"  >
	<div id="add_status_div">
		<%= form_tag  create_status_path,:method => "post",:id =>"add_new_status_form" do %>
		<%= error_messages_for :taxon_concept %>
		<label>Status value:</label>
		<%= text_field :taxon_concept, :has_taxon_status, :value => ""  %><br />

		<%= submit_tag 'Add status', :id => 'submit_role',:html => {:float => 'left'}%>
		<% end %>
	</div>
	
	<div id="edit_status_div">
		<%= form_tag  update_status_path,:method => "post",:id =>"edit_status_form" do %>
		<%= error_messages_for :taxon_concept %>
		<label>Status value:</label>
		<%= text_field_tag :new_status  %><br />
		<%= hidden_field :old_status, :value => "" %>

		<%= submit_tag 'Update status', :id => 'edit_status_submit',:html => {:float => 'left'}%>
		<% end %>
	</div>
	
	<div id="status_list">
		<%= render :partial => 'shared/taglist', :locals => {:field_value => "status_type", :button => "Status"} %>
	</div>
</div>