<% title "Taxon Name" %>

<p>
  <strong>Scientific Name:</strong>
  <%=h @taxon_name.scientific_name %>
</p>
<p>
  <strong>Basionym Authorship:</strong>
  <%=h @taxon_name.basionym_authorship %>
</p>
<p>
  <strong>Authorship Year:</strong>
  <%=h @taxon_name.authorship_year %>
</p>
<p>
  <strong>Basionym:</strong>
  <%=h @taxon_name.basionym_id %>
</p>
<p>
  <strong>Is Usable:</strong>
  <%=h @taxon_name.is_usable %>
</p>
<p>
  <strong>Alternative Authorship Year:</strong>
  <%=h @taxon_name.alternative_authorship_year %>
</p>
<p>
  <strong>Genus Part:</strong>
  <%=h @taxon_name.genus_part %>
</p>
<p>
  <strong>Epithet:</strong>
  <%=h @taxon_name.epithet %>
</p>
<p>
  <strong>Infra Epithet:</strong>
  <%=h @taxon_name.infra_epithet %>
</p>

<p>
  <%= link_to "Edit", edit_taxon_name_path(@taxon_name) %> |
  <%= link_to "Destroy", @taxon_name, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", taxon_names_path %>
</p>
