<div class="span-18 colborder">
  <% semantic_form_for @taxon_concept do |f| %>
      <% f.inputs do	%>
          <%= f.input :taxon_name, :label => 'Scientific Name',
                      :collection => TaxonName.find(:all).collect{|p| [p.scientific_name, p.id]},
                      :prompt => 'Select name' %>
          <div id="update_status">
            <%= render :partial => 'taxon_concepts/status' %>

          </div>
          
          <%#= f.input :rank, :label => 'Taxon level'%>
          <div id="update_rank">
            <%= render :partial => "taxon_concepts/rank" %>
          </div>
          <%= f.input :is_current, :label => 'Active'%>
          <%= f.input :comments, :label => 'Extra Comments'%>
          <!--<label>Status*</label>-->
          <%#= select :taxon_concept, :has_taxon_status,  TaxonConcept.status_type_counts.collect{|p| [p.name.humanize, p.name]}, :prompt => 'Select' %>
      <% end -%>
      <% f.buttons do %>
          <%= f.commit_button %>
      <% end -%>
  <% end -%>
</div>

<!-- Div for dialog box which shows for adding a new status -->
<div id="status_dialog"  title="Manage Status" class="hidden_dialog">
  <%= render :partial => "shared/managetags", :locals => {:model => "TaxonConcept", :controller_value => "tag", :field_value => "status_type", :button => "Status", :model_field => "has_taxon_status"} %>
</div>

<!-- Div for dialog box which shows for adding a new status -->
<div id="rank_dialog"  title="Manage Rank" class="hidden_dialog">
  <%= render :partial => "shared/managetags", :locals => {:model => "TaxonConcept", :controller_value => "tag", :field_value => "taxon_rank", :button => "Taxon Rank", :model_field => "rank"} %>
</div>
<%#= render :partial => "shared/new_status" %>