<div class="span-19 colborder">
  <% semantic_form_for @taxon_concept do |f| %>


      <% f.inputs do	%>
          <div class="span-9 ui-accordion ui-widget ui-helper-reset ui-accordion-icons">
            <h3 class="ui-accordion-header ui-helper-reset ui-state-active ui-corner-top">
              <span class="ui-icon ui-icon-triangle-1-s"></span>
              <a href="#">General</a></h3>
            <div class="hideme ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
              <%= f.input :taxon_name, :label => 'Scientific Name',
                          :collection => TaxonName.find(:all).collect{|p| [p.scientific_name, p.id]},
                          :prompt => 'Select name' %>
              <div id="update_status">
                <%= render :partial => 'taxon_concepts/status' %>

              </div>

              <%#= f.input :rank, :label => 'Taxon level'%>
              <div id="update_rank">
                <%= render :partial => "taxon_concepts/rank" %>
              </div>
              <%= f.input :is_current, :label => 'Current'%>
              <%= f.input :comments, :label => 'Extra Comments'%>
            </div>
          </div>
          <div class="span-9 ui-accordion ui-widget ui-helper-reset ui-accordion-icons">
            <h3 class="ui-accordion-header ui-helper-reset ui-state-active ui-corner-top">
              <span class="ui-icon ui-icon-triangle-1-s"></span>
              <a href="#">Comments</a>
            </h3>
            <div class="hideme ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
              <%= f.input :comments, :label => 'Extra Comments'%>
            </div>
          </div>


          <!--<label>Status*</label>-->
          <%#= select :taxon_concept, :has_taxon_status,  TaxonConcept.status_type_counts.collect{|p| [p.name.humanize, p.name]}, :prompt => 'Select' %>
      <% end -%>
      <% f.buttons do %>
          <%= f.commit_button %>
      <% end -%>

      <hr class="space"/>


  <% end -%>
  <div class="span-19">
    
    <% if !new_instance  %>
        <%= render :partial => "otherinfo", :locals => {:f => @taxon_concept} %>
    <% end -%>
  </div>
</div>

<!-- Div for dialog box which shows for adding a new status -->
<div id="status_dialog"  title="Manage Status" class="hidden_dialog">
  <%= render :partial => "shared/managetags", :locals => {:model => "TaxonConcept", :controller_value => "tag", :field_value => "status_type", :button => "Status", :model_field => "has_taxon_status"} %>
</div>

<!-- Div for dialog box which shows for adding a new status -->
<div id="rank_dialog"  title="Manage Rank" class="hidden_dialog">
  <%= render :partial => "shared/managetags", :locals => {:model => "TaxonConcept", :controller_value => "tag", :field_value => "taxon_rank", :button => "Taxon Rank", :model_field => "rank"} %>
</div>
<%#= render :partial => "shared/new_status" %>