
<div class="span-15 colborder">
  <% semantic_form_for @taxon_concept do |f| %>
      <% f.inputs do	%>
          <%= f.input :taxon_name, :label => 'Scientific Name',
                      :collection => TaxonName.find(:all).collect{|p| [p.scientific_name, p.id]},
                      :prompt => 'Select name' %>
          <%= f.input :has_taxon_status, :label => 'Status',
                      :collection => TaxonConcept.status_type_counts.collect{|p| [p.name.humanize, p.name]},
                      :prompt => 'Select status' %>
          <%= f.input :rank, :label => 'Taxon level'%>
          <%= f.input :is_current, :label => 'Active'%>
          <%= f.input :comments, :label => ''%>
      <% end -%>
      <% f.buttons do %>
          <%= f.commit_button %>
      <% end %>

  <% end -%>
</div>