<% title "Taxon Concepts" %>

<table class = "tableformat">
	<thead>
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>Rank</th>
			<th>Is Current</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		<% for taxon_concept in @taxon_concepts %>
		<tr>
			<td><%= link_to taxon_concept.taxon_name.try(:scientific_name), edit_taxon_concept_path(taxon_concept)  %></td>
			<td><%=h taxon_concept.try(:has_taxon_status).try(:humanize) %></td>
			<td><%=h taxon_concept.rank %></td>
			<td><%=h taxon_concept.is_current %></td>
			<td><%=h taxon_concept.external_comments %></td>
			<td><%= link_to "Show", taxon_concept %></td>
			<td><%= link_to "Destroy", taxon_concept, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<p><%= link_to "New Taxon Concept", new_taxon_concept_path %></p>
